@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --mainPink: #d54996;
  --mainPurple: #a04182;
  --mainWhite: #fff;
  --mainBlack: #1b212d;
  --mainDark: #283040;
  --mainLight: #8d99b2;
  --purpleTrans: rgba(160, 65, 130, 1);
  --pinkTrans: rgba(213, 73, 150, 1);
}

body {
  background: var(--mainBlack);
  color: var(--mainWhite);
  font-family: "Roboto Slab", serif;
}

/* global styles */

.min-height {
  min-height: 100vh;
}
/*  backgrounds */
.bg-dance {
  background: url("../img/dance.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.bg-crowd {
  background: url("../img/crowd.png");
  background-attachment: local;
  background-repeat: repeat;
}
.bg-black {
  background: var(--mainBlack);
}
.bg-dark-gray {
  background: var(--mainDark);
}

/* bottom borders */
.border-default {
  border-bottom: 0.2rem solid var(--mainLight);
}
.border-active {
  position: relative;
  width: fit-content;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-fit-content;    /* Firefox/Gecko */
  width: -webkit-fit-content; /* Chrome */
}
.border-active::after {
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  background: var(--mainPink);
  height: 0.2rem;
  padding: 0;
}

/* buttons */
.btn {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 2.5rem;
  /* padding: 0.4rem 2rem; */
}
.btn span {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 2.5rem;
  /* padding: 0.4rem 2rem; */
}
.btn-pink {
  border-radius: 2.5rem;
  color: var(--mainWhite);
  border-color: var(--mainPink) !important;
  background: var(--mainPink);
}
.btn-pink:hover {
  color: var(--mainBlack);
  background: var(--mainPink);
}
.btn-purple {
  border-radius: 2.5rem;
  color: var(--mainWhite);
  border-color: var(--purpleTrans) !important;
  background: linear-gradient(to right, var(--mainPink), var(--mainPurple));
}
.btn-pink:hover {
  color: var(--mainBlack);
  background: var(--mainPink);
}
.btn-gray {
  color: var(--mainBlack);
  background: var(--mainLight);
  border-color: var(--mainLight) !important;
}
.btn-gray:hover {
  color: var(--mainWhite);
  background: var(--mainPurple);
  border-color: var(--mainPurple) !important;
}
.btn-black {
  color: var(--mainBlack);
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainPink);
  background: var(--mainDark);
}
.btn-outline-gray {
  border-color: var(--mainLight) !important;
  color: var(--mainLight);
  background: var(--mainBlack);
  border: 1px solid var(--mainLight);
}
.btn-outline-gray:hover {
  color: var(--mainBlack);
  background: var(--mainLight);
}

/* forms */
.form {
  font-family: "Open Sans", sans-serif;
}
.form-control {
  background-color: #222939 !important;
  border-radius: 2rem !important;
  border: 1px solid #222939;
  color: var(--mainWhite);
  line-height: 2.5;
  height: auto !important;
}
.form-control::placeholder {
  color: var(--mainLight);
  opacity: 1; /* Firefox */
}
.form-control::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--mainLight);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--mainLight);
}

.form-control:focus {
  color: var(--mainWhite);
  border-color: #222939;
  box-shadow: 0 0 0 0.1rem rgba(141,153,178,.25);
}


/* landing  */
.title-underline {
  width: 7rem;
  height: 0.1rem;
  margin: 1rem auto;
  background: #662d91;
}
.banner {
  min-height: calc(100vh - 100px);
}
/* fetures-short section */
.features-short {
  color: var(--mainWhite);
  background: linear-gradient(to right, var(--pinkTrans), var(--purpleTrans));
}
.features-icons {
  max-height: 7.5rem;
  weight: auto;
}

/* downloads section */
.downloads {
  background: url("../img/section_one_bcg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* videos section */
.videos {
  background-image: url("../img/videos_section.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* max-height: 70vh; */
}

/* live events section */
.live-events {
  background-image: url("../img/events_section.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* music section */
.music {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("../img/music_section.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* nav links */
.navbar-toggler {
  outline: none !important;
}
.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainWhite);
}
.nav-link {
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
  font-size: 1rem;
}
.nav-link svg {
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
  font-size: 1rem;
}
.nav-link:hover {
  color: var(--mainPink);
}
.nav-link:hover svg {
  fill: var(--mainPink);
}

.active .nav-link {
  color: var(--mainLight);
}
.landing .landing-header .active svg {
  fill: var(--mainLight);
}
.active .nav-link:hover {
  color: var(--mainPink);
}
.active .nav-link:hover svg {
  fill: var(--mainPink);
}

/* navigation button toggle icon */
button.nav_switch {
  position: absolute;
  z-index: 9;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 25px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

button.nav_switch .nav_switch-icon {
  display: block;
  position: relative;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button.nav_switch .nav_switch-icon:before,
button.nav_switch .nav_switch-icon:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button.nav_switch .nav_switch-icon:before {
  bottom: -8px;
}
button.nav_switch .nav_switch-icon:after {
  top: -8px;
}
button.nav_switch.nav-switch--close {
  position: fixed;
}
button.nav_switch.nav-switch--close .nav_switch-icon {
  background-color: transparent;
}
button.nav_switch.nav-switch--close .nav_switch-icon:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0px;
}
button.nav_switch.nav-switch--close .nav_switch-icon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}


.landing .landing-header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(15, 23, 10, 0.9);
}
.landing .landing-header ul {
  list-style: none;
}

@media only screen and (max-width: 991px) {
  .landing .landing-header {
    -webkit-transform: translate3D(-100%, 0, 0);
    transform: translate3D(-100%, 0, 0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .landing .landing-header.is--visible {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }
}

@media only screen and (min-width: 991px) {
  .landing .landing-header {
    display: block;
    height: auto;
    position: absolute;
    background: transparent;
  }
}

/* footer */
footer {
  color: var(--mainGrey);
  font-family: "Open Sans", sans-serif;
}
footer a {
  color: var(--mainWhite);
}
footer a:hover {
  color: var(--mainPink);
  text-decoration: none;
}
.footer-underline {
  width: 100%;
  height: 0.1rem;
  background: var(--mainLight);
}
.footer-icon {
  color: var(--mainLight);
  font-size: 2rem;
}
.footer-icon:hover {
  color: var(--mainWhite);
}
.footer-links-height {
  min-height: 7.5rem;
}
.footer-text {
  font-size: 0.8rem;
}
