@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --mainPink: #d54996;
  --mainPurple: #a04182;
  --mainWhite: #fff;
  --mainBlack: #1b212d;
  --mainDark: #283040;
  --mainLight: #8d99b2;
  --purpleTrans: rgba(160, 65, 130, 1);
  --pinkTrans: rgba(213, 73, 150, 1);
}

body {
  background: var(--mainBlack);
  color: var(--mainWhite);
  font-family: "Roboto Slab", serif;
}

/* global style */

/*  backgrounds */
.bg-dance {
  background: url("../img/header_image.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.bg-crowd {
  background: url("../img/crowd.png");
  background-attachment: local;
  background-repeat: repeat;
}
.bg-black {
  background: var(--mainBlack);
}
.bg-dark-gray {
  background: var(--mainDark);
}

/* bottom borders */
.border-default {
  border-bottom: 0.2rem solid var(--mainLight);
}
.border-active {
  position: relative;
  width: fit-content;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-fit-content;    /* Firefox/Gecko */
  width: -webkit-fit-content; /* Chrome */
}
.border-active::after {
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  background: var(--mainPink);
  height: 0.2rem;
  padding: 0;
}

/* buttons */
.btn {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 2.5rem;
  /* padding: 0.4rem 2rem; */
}
.btn span {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 2.5rem;
  /* padding: 0.4rem 2rem; */
}
.btn-pink {
  border-radius: 2.5rem;
  color: var(--mainWhite);
  border-color: var(--mainPink) !important;
  background: var(--mainPink);
}
.btn-pink:hover {
  color: var(--mainBlack);
  background: var(--mainPink);
}
.btn-purple {
  border-radius: 2.5rem;
  color: var(--mainWhite);
  border-color: var(--purpleTrans) !important;
  background: linear-gradient(to right, var(--mainPink), var(--mainPurple));
}
.btn-pink:hover {
  color: var(--mainBlack);
  background: var(--mainPink);
}
.btn-gray {
  color: var(--mainBlack);
  background: var(--mainLight);
  border-color: var(--mainLight) !important;
}
.btn-gray:hover {
  color: var(--mainWhite);
  background: var(--mainPurple);
  border-color: var(--mainPurple) !important;
}
.btn-black {
  color: var(--mainBlack);
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainPink);
  background: var(--mainDark);
}
.btn-outline-gray {
  border-color: var(--mainLight) !important;
  color: var(--mainLight);
  background: var(--mainBlack);
  border: 1px solid var(--mainLight);
}
.btn-outline-gray:hover {
  color: var(--mainBlack);
  background: var(--mainLight);
}

/* forms */
.form {
  font-family: "Open Sans", sans-serif;
}
.form-control {
  background-color: #222939 !important;
  border-radius: 2rem !important;
  border: 1px solid #222939;
  color: var(--mainWhite);
  line-height: 2.5;
  height: auto !important;
}
.form-control::placeholder {
  color: var(--mainLight);
  opacity: 1; /* Firefox */
}
.form-control::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--mainLight);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--mainLight);
}

.form-control:focus {
  color: var(--mainWhite);
  border-color: #222939;
  box-shadow: 0 0 0 0.1rem rgba(141,153,178,.25);
}
